@model Portfolio.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Catalog</h1>
    <p class="lead">the Product Catalog is an ASP.NET MVC example app built using C#, Entity Framework Code First, MS SQL, LINQ, Github, JQuery, Bootstrap 4, CSS3, HTML5, SASS
</p>
</div>

<div class="container">
    <h3 class="deptHeader">Departments</h3>
    <div class="divider">
        <div class="row">
            @foreach (var dept in Model.Departments)
            {
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <a href="~/Department/Index/@dept.Id"><img class="card-img-top img-fluid" src="@dept.ImagePath" alt="@dept.Name" title="@dept.Name"></a>
                        <div class="card-block">
                            <a href="~/Department/Index/@dept.Id" class="btn btn-primary">@dept.Name</a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
    <hr />
    <h3 class="deptHeader">Brands</h3>
    <div class="divider">
        <div class="row">
            @foreach (var vendor in Model.Vendors)
            {
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <a href="~/Vendor/Index/@vendor.Id"><img class="card-img-top img-fluid" src="@vendor.ImagePath" alt="@vendor.Name" title="@vendor.Name"></a>
                        <div class="card-block">
                            <a href="~/Vendor/Index/@vendor.Id" class="btn btn-primary">@vendor.Name</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>