@model Portfolio.WebUI.Models.AdminIndexViewModel
@{
    ViewBag.Title = "Admin Homepage";
}

<div class="jumbotron">
    <h1>Catalog Admin Panel</h1>
</div>


<div class="container">
    <ul class="nav admin-nav">
        <li class="nav-item admin-nav-item">
            <a class="nav-link btn btn-primary" href="~/Vendor/AddVendor">Add new vendor</a>
        </li>
        <li class="nav-item admin-nav-item">
            <a class="nav-link btn btn-primary" href="~/Department/AddDepartment">Add new department</a>
        </li>
        <li class="nav-item admin-nav-item">
            <a class="nav-link btn btn-primary" href="~/Product/AddProduct">Add new product</a>
        </li>
    </ul>
    <div class="divider">
        <h4>Products</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Department</th>
                    <th>Vendor</th>
                    <th>Lagerstatus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model.Products)
            {
                    <tr>
                        <td>@prod.Title</td>
                        <td>@prod.Price.ToString()</td>
                        <td><a href="~/Department/Details/@prod.DepartmentId">@prod.Department.Name</a></td>
                        <td><a href="~/Vendor/Details/@prod.VendorId">@prod.Vendor.Name</a></td>
                        <td>@prod.ItemsInStock.ToString()</td>
                        <td><a href="~/Product/Details/@prod.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div class="divider">
        <h4>Vendors</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Address</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vendor in Model.Vendors)
                {
                    <tr>
                        <td>@vendor.Name</td>
                        <td>@vendor.Street</td>
                        <td>@vendor.PostalCode @vendor.City</td>
                        <td>@vendor.Country</td>
                        
                        <td><a href="~/Vendor/Details/@vendor.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

